<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../styles/songs.css">
        <title>Unknown Spotify Songs</title>
        <script src="scripts/animate.js"></script>



    </head>
    <header>
        <h1>Lost Tracks</h1>
        


    </header>
    <body>
        <section id="profile">
            <h2>Logged in as <span id="displayName"></span></h2>
            <span id="avatar"></span>
            <ul>
                <li>User ID: <span id="id"></span> </li>
                <li>Email: <span id="email"></span> </li>
                <li>Spotify URI: <span id="uri"></span></li>
                <li>Link:<span id="url"></span> </li>
                <li>Profile Image: <span id="imgUrl"></span></li>
            </ul>
        </section>


    </body>
    <footer>

    </footer>
</html>