<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles/songs.css">
        <script src="scripts/animate.js"></script>



    </head>
    <header>
        <h1>Lost Tracks</h1>
        


    </header>
    <body>
        <section>
            <h2>Lost Songs from 1970s</h2>
            
        </section>

        <section>
            <h2>Lost Songs from 1980s</h2>
        </section>

        <sections>
            <h2>Lost Songs from 1990s</h2>
        </sections>

    </body>
    <footer>

    </footer>
</html>