<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../styles/songs.css">
        <title>Unknown Spotify Songs</title>
        <script src="scripts/animate.js" defer></script>



    </head>

    <body>
        <section class="flex-container top">
            <h3>Impact</h3>
            <div class="flex=item">Our Mission</div>
            <div class="flex=item">Shareholders</div>
            <a href="https://open.spotify.com/" target="_blank"><img class = "spotify-symbol" src="/images/Spotify_icon.svg.webp" alt="spotify-symbol"></a>
        </section>
    <header>
        <h1>Lost Tracks</h1>
        <p>The goal of this site is to elevate the greatest up and coming artists that are yet to surface in the mainstream</p>
        


    </header>
        <section class="style-container">
 
            <h2>Lost Artists Feature</h2>
            <p>Introducing our lost artists feature where we are bringing light to unknown artist who never had a light to shine. That is until now, due to state of the art technology, we have introduced a new feature that will help artists with little industry backing have a light shine on to them. </p>
            
        </section>

        <section class="style-container two">
    <h2>Our Goals for Up and Coming Artists</h2>
    <div class="ticker">
        <div class="ticker-inner">
            <img src="/images/Xaviersobased_face.webp" alt="industry plant">
            <img src="/images/ksuuvi.png" alt="ksuuvi">
            <img src="/images/osquinn.jpg" alt="osquinn">
            <img src="/images/bassvictim.jpg" alt="bassvictim">
            <img src="/images/untiljapan.webp" alt="untiljapan">
            <img src="/images/protect.png" alt="protect">
        </div>
    </div>
</section>


        <section class="style-container three">
            <h2>Our Shareholders</h2>
            
        </section>




    </body>
    <footer>
        <p>Webpage designed by: Raymundo Munoz Cuevas and Jonathan Jagdon</p>

    </footer>
</html>