h1{
    text-align: center;
    font-size: 100px;
    color: rgba(0,0,255,.7);
    font-family: 'Courier New','monospace';
    opacity: .85;
    text-shadow:
    0px -5px 10px rgba(0,0,255,.4),
    0px -10px 20px rgba(0,0,255,.2),
    0px -15px 30px rgba(0,0,0,.3);
    opacity: .9;

}

.style-container {
    width: 1100px;
    height: 300px;
    width: 300px;
    min-height: 100px;
    border: 1px solid green;
    border-radius: 25px;
    margin: auto;
}

html {
    background-color: orange;
}

.flex-container {

            display: flex;

            flex-wrap: wrap;

            justify-content: space-around;

            align-items: center;

            gap: 5px;

            padding: 15px;

}

.flex-item {
    flex: 1 1 300px; /* Responsive width */
    background: lightcoral;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}