h1{
    text-align: center;
    font-size: 100px;
    color: #271F30;
    font-family: 'Courier New','monospace';
    opacity: .85;
    text-shadow:
        0px 0px 10px rgba(155, 89, 182, 0.3),
        0px 0px 20px rgba(155, 89, 182, 0.2);
    opacity: .9;

}

.style-container {
    width: 1100px;
    height: 300px;
    width: 1500px;
    min-height: 100px;
    border: 5px solid #3D2C8D;
    border-radius: 25px;
    margin: auto;
    padding: 15px;
    margin: 20px auto;
    align-items: center;

}

html {
    background-color: #F0F0F5;
}

.flex-container {

            display: flex;

            flex-wrap: wrap;

            justify-content: space-around;

            align-items: center;

            gap: 5px;

            padding: 15px;
            
            color:#D8C9F5;

}
.two section {
    height: 500px;
}
.two img {
    padding: 15px;
    width: 200px;
    height: 210px;
    border-radius: 25px;
}

.spotify-symbol {
    width: 40px;
    height: 40px
}





.flex-item {
    flex: 1 1 300px; /* Responsive width */
    background: lightcoral;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.style-container:nth-child(2) {
    height: 500px;
}

.flex-container.top {
    border: 10px solid #271F30;
    border-radius: 20px;
}

footer {
    text-align: center;
}
.ticker-wrapper {
    width: 100%;
    overflow: hidden;
    border: 2px solid #3D2C8D;
    border-radius: 15px;
    background: #F0F0F5;
    padding: 10px 0;
    box-sizing: border-box;
    position: relative;
}

.ticker {
    display: flex;
    white-space: nowrap;
}

.ticker img {
    height: 150px;
    margin: 0 50px;
    flex-shrink: 0;
}







